@charset "UTF-8";
/* Import des polices */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");
/* Variables de couleur */
/* Style global */
body {
  margin: 0;
  background: #ebdfcc;
}

h1 {
  font-family: "Abril Fatface", serif;
  margin: 0;
  line-height: 1em;
  font-weight: 100;
  color: #ffffff;
  font-size: 3.5em;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}



.carousel {
  position: relative;
  width: 100%;
  padding-top: 200px;
  overflow: hidden;
}

.cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 25%; /* Chaque carte prend 25% de la largeur */
  margin: 0 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.info {
  padding: 10px;
  background-color: #fff;
}

.title {
  font-size: 1.2em;
  color: #403d40;
}

.sub-line {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 0.9em;
  margin-top: 5px;
}

.subtitle, .time {
  flex: 1;
}

.nav-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.prev-button, .next-button {
  background-color: #cfb387;
  color: #fff;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.prev-button:hover, .next-button:hover {
  background-color: #dcc8a8;
}