@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");
.sticky {
  position: fixed;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #dcc8a8;
}
a:hover {
  background: #dcc8a8;
  color: #cfb387;
}

.navbar--container {
  top: 15%;
  background: #ffffff;
  height: 290px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba(207, 179, 135, 0.1);
}

.navbar--icon {
  margin-top: 24px;
  margin-left: 49px;
  font-size: 1em;
}
.navbar--icon:hover {
  color: #dcc8a8;
  cursor: pointer;
}

.navbar--title {
  margin-left: 27px;
  margin-top: 35px;
}
.navbar--title h4 {
  writing-mode: vertical-rl;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}

.nav--open {
  height: 100vh;
  width: 300px;
  background: #ffffff;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(207, 179, 135, 0.1);
}

.nav--open-icon {
  text-align: right;
  padding: 20px;
}
.nav--open-icon i {
  font-size: 1.8em;
  color: #dcc8a8;
}
.nav--open-icon i:hover {
  color: #cfb387;
  cursor: pointer;
}

.nav--open-title {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 35%;
}

.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.nav--open-menu a {
  font-size: 2em;
  font-weight: 100;
  font-family: "Playfair Display", serif;
  padding: 15px 0;
}

.close {
  transform: translateX(-300px);
  transition: all 0.4s ease-out;
  opacity: 0;
}