@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i");
body {
  margin: 0;
  background: #ebdfcc;
}

/* modif sur toutes les sections */
section {
  height: 90vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* modif seulement sur la première section */
.one {
  background: #dbc6a4;
  display: flex;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 10%;
  justify-content: flex-end;
}

.separate-one {
  display: flex;
  flex-direction: row;
}

/* parti à gauche (nom/info) */
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45%;
  height: 100%;
}

/* parti à droite (cv/téléchargement) */
.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfb387;
  border: none;
  border-radius: 20px;
  padding: 5%;
  width: 300px;
}

button:hover {
  cursor: pointer;
  background-color: #bc9d6b;
}

.download {
  width: 20px;
  padding-right: 4%;
}

.section-cv {
  padding-top: 2%;
}

.imgCV {
  width: 450px;
  height: 650px;
  border-radius: 10px;
}

/* affichage titre */
h1 {
  font-family: "Abril Fatface", serif;
  margin: 0;
  line-height: 1em;
  font-weight: 100;
  color: #ffffff;
  font-size: 3.5em;
}

h1 span {
  font-style: italic;
  text-decoration: underline;
  color: #cdb184;
}

h2 {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  color: #bc9d6b;
  font-weight: 100;
}

h2 span {
  font-size: italic;
  color: #f4ebde;
  font-weight: 200;
}

.gl {
  color: #f4ebde;
  font-style: italic;
}

/* SECONDE PARTIE */
.two {
  padding: 5%;
  padding-left: 10%;
  width: 50%;
}


.experience {
  margin-top: 5%;
  display: flex;
  font-family: "Oswald", sans-serif;
}

.date {
  margin-right: 30px;
  margin-top: 5px;
  opacity: 0.5;
  width: 180px;
  font-weight: 300;
}

.title {
  font-size: 20px;
  font-style: italic;
}

.info {
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: 350;
  font-size: 20px;
}

#twothree {
  display: flex;
  flex-direction: row;
}

.three {
  display: flex;
  justify-content: center;
  width: 50%;
}

.onebis{
  cursor: pointer;
  margin-top: 50px;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Oswald", sans-serif;
  opacity: 0.7;
}
.onebis:hover {
  opacity: 1;
}

.arrow{
  margin: 2px;
  width: 30px;
  height: 30px;
}